<p *ngIf="message" style="color: red;">
    {{ message }}
</p>
<form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <div class="mb-3">
        <label for="username" class="form-label">Identifiant</label>
        <input type="text" class="form-control" id="username" formControlName="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #02156e;" [disabled]="isClicked">Se
        connecter</button>
    <div style="margin-left: 5%;" *ngIf="isClicked">
        <img src="../../../../../assets/98112-circle-loading-progress-indicator.gif" alt="" width="60">
    </div>
</form>