<p *ngIf="message" style="color: red;">
    {{ message }}
</p>
<form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <div class="mb-3">
        <label for="username" class="form-label">Identifiant</label>
        <input type="text" class="form-control" id="username" formControlName="username" required="required">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password" required="required">
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>