<div *ngIf="restoList.length !== 0">
    <div id="searchBar">
        <div id="content">
            <h2 style="color: white; ">Retrouvez le meilleur des restaurants de Madagascar</h2>
            <form class="form" style="margin-top: 3%; margin-left: 31%;" [formGroup]="searchForm"
                (ngSubmit)="onSearch()">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><input type="text" class="form-control"
                            style="width: 230%; height: 45px; font-family:Arial, FontAwesome"
                            placeholder="&#xF002; Restaurant" formControlName="restaurant"></li>
                    <li class="list-group-item" style="margin-left: 20%;"><button class="btn btn-primary"
                            style="height: 45px; width: 150%;">
                            Rechercher
                        </button>
                </ul>
            </form>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;" *ngIf="!searchSignal">
        <div class="card" *ngFor="let resto of restoList">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a [routerLink]="'menu/'+resto.restaurant.nom" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;" *ngIf="searchResult.length !== 0">
        <div class="card" *ngFor="let resto of searchResult">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a [routerLink]="'menu/'+resto.restaurant.nom" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>
    <div *ngIf="searchSignal && searchResult.length === 0 && !notFound" style="margin-left: 30%">
        <img src="../../../../assets/99946-searching.gif" alt="">
    </div>
    <div *ngIf="notFound" style="margin-left: 30%">
        <img src="../../../../assets/96987-magnifying-glass-404.gif" alt="">
    </div>

</div>
<div *ngIf="restoList.length === 0" style="margin-left: 30%">
    <img src="../../../../assets/92163-food-courier.gif" alt="">
</div>