<div *ngIf="restoList.length !== 0">
    <div id="searchBar">
        <div id="content">
            <h2 style="color: white; ">Retrouvez le meilleur des restaurants de Madagascar</h2>
            <form class="form" style="margin-top: 50px;" [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><input type="text" class="form-control"
                            style="width: 500px; height: 45px; margin-left: 570px;font-family:Arial, FontAwesome"
                            placeholder="&#xF002; Restaurant" formControlName="restaurant"></li>
                    <li class="list-group-item"><button class="btn btn-primary"
                            style="width: 200px;height: 45px;">Rechercher</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;" *ngIf="!searchResult">
        <div class="card" style="margin-bottom: 20px;" *ngFor="let resto of restoList">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a href="#" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;" *ngIf="searchResult">
        <div class="card" style="margin-bottom: 20px;" *ngFor="let resto of searchResult">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a href="#" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>

</div>
<div *ngIf="restoList.length === 0" style="margin-left: 600px">
    <img src="../../../../assets/92163-food-courier.gif" alt="">
</div>