<div *ngIf="restoList.length !== 0">
    <div id="searchBar">
        <div id="content">
            <h2 style="color: white; ">Retrouvez le meilleur des restaurants de Madagascar</h2>
            <form class="form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><input type="text" class="form-control"
                            placeholder="&#xF002; Restaurant" formControlName="restaurant"></li>
                    <li class="list-group-item" id="item2"><button class="btn btn-primary">
                            Rechercher
                        </button>
                </ul>
            </form>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;" *ngIf="!searchSignal">
        <div class="card" *ngFor="let resto of restoList">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a [routerLink]="'menu/'+resto.restaurant.nom" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;" *ngIf="searchResult.length !== 0">
        <div class="card" *ngFor="let resto of searchResult">
            <div class="card-body">
                <h5 class="card-title">{{resto.restaurant.nom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resto.restaurant.specialite}}</h6>
                <p class="card-text">{{resto.restaurant.description}}</p>
                <a [routerLink]="'menu/'+resto.restaurant.nom" class="card-link">voir les plats</a>
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="searchSignal && searchResult.length === 0 && !notFound">
        <img src="../../../../assets/99946-searching.gif" alt="">
    </div>
    <div class="loading" *ngIf="notFound">
        <img src="../../../../assets/96987-magnifying-glass-404.gif" alt="">
    </div>

</div>
<div class="loading" *ngIf="restoList.length === 0">
    <img src="../../../../assets/92163-food-courier.gif" alt="">
</div>