<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div style="margin-top: 200px; margin-left: 50px; margin-right: 50px;">
                <img src="../../../../assets/logo.PNG" alt="">
                <h3 style="color: #02156e
            ">Commandez vos repas plus facilement sur notre plateforme</h3>

                <p style="margin-top: 20px; font-size: large;">
                    Veuillez retrouver les meilleurs restaurants de Madagascar et leurs plats cultes. Saveur chinoise,
                    indienne, malagasy et bien plus encore, soyez au rendez-vous. Connectez-vous et régalez-vous dès
                    maintenant, profitez du meilleur de la livraison
                </p>
            </div>
        </div>
        <div class="col-md-7">
            <ul class="list-group list-group-horizontal" style="float: right;">
                <a routerLink="connexion">
                    <li class="list-group-item">Connexion</li>
                </a>
                <a routerLink="inscription">
                    <li class="list-group-item">Inscription</li>
                </a>
            </ul>
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>