.col-md-5 {
    height: 1000px;
}

.col-md-7 {
    background-image: url("../../../../assets/background2.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

#logo {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    margin-top: 30%;
    margin-left: 22%;
    opacity: 1;
}

.list-group-item {
    color: white;
    border: none;
    background-color: unset;
    font-size: large;
}

@media screen and (max-width: 1000px) {
    .card {
        margin-top: 50%;
    }
}

@media screen and (min-height: 1000px) {
    .container {
        height: 100vh;
    }
}