<div *ngIf="restaurant">
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="modal fade" id="updateFoodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification plat
                        </h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="addFoodForm" (ngSubmit)="onUpdateFood()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="plat">Nouveau plat</label>
                                <input type="text" class="form-control" id="plat" formControlName="plat"
                                    [value]="foodList[idFood].nom">
                            </div>
                            <div class="form-group">
                                <label for="prix">Prix</label>
                                <input type="number" class="form-control" id="prix" formControlName="prix"
                                    [value]="foodList[idFood].prix">
                            </div>
                            <div class="form-group">
                                <label for="benefice">benefice</label>
                                <input type="number" class="form-control" id="benefice" formControlName="benefice"
                                    [value]="foodList[idFood].benefice">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <h1 style="text-align: center; font-size: 50px;"> {{restaurant.restaurant.nom}}</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 style="text-align: center;">Menu </h2>
                <div class="card" *ngFor="let food of restaurant.restaurant.plat; let index = index">
                    <div class="card-body">
                        <ul class="list-group list-group-horizontal" style="float: right; top: 0;">
                            <li class="list-group-item">
                                <i style="color: red;" class="fa fa-solid fa-trash" (click)="onDeleteFood(index)"></i>
                            </li>
                            <li class="list-group-item">
                                <i style="color: blue" class="fa fa-solid fa-pencil" data-bs-toggle="modal"
                                    data-bs-target="#updateFoodModal" (click)="passIdFood(index)"></i>
                            </li>
                        </ul>
                        <h5 class="card-title">{{food.nom}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{food.prix}}Ar</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    style="margin-top: 200px; padding-top: 20px; margin-bottom: 30px; padding-left: 10px; padding-right: 10px;">

                    <form [formGroup]="addFoodForm" (ngSubmit)="onAddFood()">
                        <div class="form-group">
                            <label for="plat">Nouveau plat</label>
                            <input type="text" class="form-control" id="plat" formControlName="plat">
                        </div>
                        <div class="form-group">
                            <label for="prix">Prix</label>
                            <input type="number" class="form-control" id="prix" formControlName="prix">
                        </div>
                        <div class="form-group">
                            <label for="benefice">benefice</label>
                            <input type="number" class="form-control" id="benefice" formControlName="benefice">
                        </div>
                        <button class=" btn btn-primary" style="margin-left: 46%;" type="submit">Ajouter</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div *ngIf="!restaurant" style="margin-left: 30%">
    <img src="../../../../assets/92163-food-courier.gif" alt="">
</div>