<p *ngIf="message" style="color: red;">
    {{ message }}
</p>
<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <div class="mb-3">
        <label for="username" class="form-label">Identifiant</label>
        <input type="text" class="form-control" id="username" formControlName="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #02156e;"
        [disabled]="isClicked">S'inscrire</button>
    <div style="margin-left: 3%;" *ngIf="isClicked">
        <img src="../../../../../assets/98112-circle-loading-progress-indicator.gif" alt="" width="60">
    </div>
</form>