<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lieu de livraison</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="orderForm" (ngSubmit)="onOrder()">
                <div class="modal-body">
                    <input type="text" class="form-control" formControlName="place">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Envoyer</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div *ngIf="restaurant">
    <div class="container-fluid" style="margin-top: 50px;">
        <h1 style="text-align: center; font-size: 50px;"> {{restaurant.restaurant.nom}}</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 style="text-align: center;">Menu </h2>
                <div class="card" *ngFor="let food of restaurant.restaurant.plat">
                    <div class="card-body">
                        <h5 class="card-title">{{food.nom}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{food.prix}}Ar</h6>
                        <button class="btn btn-primary" (click)="onAddCart(food)">Ajouter au panier</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    style="border: 1rem solid;; border-color: #02156e; margin-top: 200px; padding-top: 20px; margin-bottom: 30px;">
                    <div *ngIf="panier.length === 0" style="margin-left: 100px;">
                        <img src="../../../../assets/80582-empty-cart.gif" width="300" alt="" style="margin-left: 25%">
                    </div>
                    <div *ngIf="panier.length !== 0">
                        <table class="table">
                            <tr>
                                <th class="scope">Plat</th>
                                <th class="scope">Quantité</th>
                                <th></th>
                                <th class="scope">Prix</th>
                            </tr>
                            <tr *ngFor="let pan of panier; let index = index">
                                <td>{{pan.nom}}</td>
                                <td>{{pan.quantite}} </td>
                                <td><i (click)="addQuantity(index)" class="fa fa-solid fa-plus"></i>
                                    <i (click)="substractQuantity(index)" class="fa fa-solid fa-minus"></i>
                                </td>
                                <td>{{pan.prix * pan.quantite}}Ar</td>
                                <td style="font-size: 25px;"><i style="color:red;" class="fa fa-solid fa-trash"
                                        (click)="cart_remove(index)"></i>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-primary" style="margin-left: 46%;" (click)="emptyCart()">Vider</button>
                        <br>
                        Prix total : {{totalPrice}}Ar
                        <!-- <br>
                        Benefice total : {{totalGain}}Ar -->
                    </div>
                </div>
                <button class=" btn btn-primary" style="margin-left: 46%;" data-bs-toggle="modal"
                    data-bs-target="#orderModal">Commander</button>
            </div>
        </div>

    </div>
</div>
<div *ngIf="!restaurant" style="margin-left: 600px">
    <img src="../../../../assets/92163-food-courier.gif" alt="">
</div>