<div class="container">
    <div class="example-container">
        <h2>En attente</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="waitingOrderStr"
            [cdkDropListConnectedTo]="[doneList]" class="example-list">
            <div class="example-box" *ngFor="let item of waitingOrderStr" cdkDrag [innerHtml]="item"></div>
        </div>
    </div>

    <div class="example-container">
        <h2>Prêt à livrer</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="readyToDeliverStr" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of readyToDeliverStr" cdkDrag [innerHtml]="item"></div>
        </div>
    </div>
</div>