<div class="container-fluid">
    <nav class="navbar" style="background-color: white;">
        <a class="navbar-brand">
            <img src="../../../assets/logo.PNG" width="300" height="90" alt="">
        </a>
        <div id="menu">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Accueil</li>
                <li class="list-group-item">Tarification</li>
                <li class="list-group-item">A propos de nous</li>
                <li class="list-group-item">Deconnexion</li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>

    <div id="footer">
        <p style="margin-left: 20px;color: #02156e"><i><strong>E-Kaly by RANDRIAMIHANTA Ny Aina Fanilo</strong> </i></p>
    </div>
</div>